body {
    background: #29353B;
}

a {
    text-decoration: none;
}

.navbar {
    padding: 0;
}

.navbar header {
    font-family: "Roboto Medium", sans-serif;
    padding-bottom: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.navbar a {
    background: #263238;
    float: left;
    text-align: center;
    width: 25%;
    color: #7F8C8E;
    outline: 1px solid #212C31;
    margin: -2px;
    padding: 15px 0;
    animation-name: navbar-hover-fade-out;
    animation-duration: .25s;
}

.navbar a:hover {
    background: #29353B;
    color: #CAD8D7;
    animation-name: navbar-hover-fade-in;
    animation-duration: .25s;
}

@keyframes navbar-hover-fade-in {
    from {
        background: #263238;
        color: #7F8C8E;
    }
    to {
        background: #29353B;
        color: #CAD8D7;
    }
}

@keyframes navbar-hover-fade-out {
    from {
        background: #29353B;
        color: #CAD8D7;
    }
    to {
        background: #263238;
        color: #7F8C8E;
    }
}

#nameplate {
    font-family: "Roboto Thin", "Roboto Light", sans-serif;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    font-size: 4vw;
}

#findme {
    padding-left: 25%;
    padding-right: 25%;
}

#findme a {
    float: left;
    text-align: center;
    width: 33%;
}