body {
    background: #29353B;
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: #CAD8D7;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #29353B;
}

::-webkit-scrollbar-thumb {
    background: #222D32;
}

::-webkit-scrollbar-thumb:hover {
    background: #7F8C8E;
}

.navbar {
    padding: 0;
}

.navbar header {
    font-family: "Roboto Medium", sans-serif;
    padding-bottom: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.navbar a {
    background: #263238;
    float: left;
    text-align: center;
    width: 20%;
    color: #7F8C8E;
    outline: 1px solid #212C31;
    margin: -2px;
    padding: 15px 0;
    animation-name: navbar-hover-fade-out;
    animation-duration: .25s;
}

.navbar a.selected {
    animation-name: none;
    border-bottom: #00BCD4 2px solid;
    margin-right: 3px;
    background: #29353B;
    color: #CAD8D7;
}

.navbar a.selected:hover {
    animation-name: none;
}

h3.introduction a {
    font-weight: bolder;
}

.navbar a:hover {
    background: #29353B;
    color: #CAD8D7;
    animation-name: navbar-hover-fade-in;
    animation-duration: .25s;
}

@keyframes navbar-hover-fade-in {
    from {
        background: #263238;
        color: #7F8C8E;
    }
    to {
        background: #29353B;
        color: #CAD8D7;
    }
}

@keyframes navbar-hover-fade-out {
    from {
        background: #29353B;
        color: #CAD8D7;
    }
    to {
        background: #263238;
        color: #7F8C8E;
    }
}

#nameplate {
    font-family: "Roboto Thin", "Roboto Light", sans-serif;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    font-size: 4vw;
}

#findme {
    padding-left: 25%;
    padding-right: 25%;
}

#findme a {
    float: left;
    text-align: center;
    width: 33%;
}

.text p {
    padding-top: 80px;
    color: #CAD8D7;
    z-index: 10000;
    word-wrap: break-word;
    line-height: 200%;
    text-align: justify;
}

.text p#aboutme {
    margin: 80px;
}

.introduction h3 {
    padding-top: 80px;
    text-align: center;
    color: #CAD8D7;
}

#q-and-a {
    margin: 80px;
}

.question {
    color: #CAD8D7;
    background: #263238;
    font-family: "Roboto Light", sans-serif;
    font-style: italic;
    font-size: 20px;
    padding: 20px;
    border: 1px #212C31 solid;
    border-radius: 10px;
}

.answer {
    color: #CAD8D7;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    font-size: 16px;
    text-align: justify;
    line-height: 200%;
}

#email {
    padding-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#gh-repo-link {
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 15%;
}
