body {
    background: #29353B;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.navbar nav {
    font-family: "Roboto Medium", sans-serif;
    padding-bottom: 20px;
    text-align: center;
}

.navbar a {
    float: left;
    text-align: center;
    width: 24.79%;
    color: #FFFFFF;
    border: 1px solid #212C31;
    padding: 15px 1px;
}

#nameplate {
    font-family: "Roboto Thin", "Roboto Light", sans-serif;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    font-size: 4vw;
}

#findme {
    padding-left: 25%;
    padding-right: 25%;
}

#findme a {
    float: left;
    text-align: center;
    width: 33%;
}